.Input{
  display: flex;
  flex-wrap: wrap;
}
.Input>*{
  margin: 0 5px
}
.Input label{
  font-size: 26px;
}
.Input input{
  font-size: 20px;
}
.Input button{
  background-color: #59A5FF;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color .3s ease-in;
}
.Input button:hover{
  background-color: #297ade
}
@media (max-width: 750px) {
  .Input{
    flex-direction: column;

  }
  .Input label{
    font-size: 18px;
  }
  .Input input{
    font-size: 14px;
  }
  .Input button{
    padding: 5px 10px;
  }
}