@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
*{
  box-sizing: border-box;
}
.main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.main img{
  width: 200px;
}
@media (max-width:550px) {
  .main{
    flex-direction: column; 
  }
  .main img{
    margin: 40px 0;
  }
}